
export AWS_ACCOUNT_ID=XXXXXXXXXXXX
export AWS_MFA_PROFILE=XXXXXX
export AWS_DEFAULT_PROFILE=XXXXXXXXXXXX
export AWS_REGION=XXXXXXXXX
export AWS_ROOT_ACCOUNT_ID=XXXXXXXXXXXX
export S3FS_BUCKET=XXXXXXXXXXXXXXXXXXXXXXXX
export S3FS_REGION=XXXXXXXXXXXXXXXXXXXXXXXX
